<% provide :title, t("sessions.new.title") %>
<head>
  <title><%= t("sessions.new.title") %></title>
</head>
<body class="body-login login-page">
  <div class="formdn">
    <%= form_for :session, url: login_path, class: 'js-LoginModal' do |f| %>
      <label for="" class="formdn__tieude--fontto"><%= t("sessions.new.title") %></label>
      <div class="auth-form__group">
        <%= f.email_field :email, id: 'loginEmail', placeholder: t("sessions.new.email"), class: 'formdn__email' %>
      </div>
      <div class="auth-form__group">
        <%= f.password_field :password, id: 'loginPassword', placeholder: t("sessions.new.password"), class: 'formdn__mk' %>
      </div>
      <div class="formdn__div3">
        <div class="formdn__nhotoi">
          <%= f.check_box :remember_me %>
          <span><%= t "sessions.new.remember_me" %></span>
        </div>
      </div>
      <%= f.submit t("sessions.new.login"), class: "login-button" %>
    <p><%= t ".new_user" %><%= link_to t("sessions.new.sign_up_now"), signup_path %></p>
    <% end %>
  </div>
</body>
