<div class="my-cart__row">
  <div>
    <% if cart_detail.product.image.persisted? %>
      <%= image_tag cart_detail.product.image %>
    <% end %>
    <p class="row__name"><%= cart_detail.product.name %></p>
  </div>

  <div>
    <p class="row__price"><%= cart_detail.product.price %></p>
  </div>
  <div>
    <p class="my-cart__row__quantity">
      <%= form_with url: cart_add_path do |f| %>
        <%= f.hidden_field :id, :value => cart_detail.product.id %>
        <%= f.number_field :quantity, :value => cart_detail.quantity, :min => 0, style: "width: 40%;" %>
        <div class= "cart_update">
          <%= f.submit t "cart.update" %>
        </div>
      <% end %>
    </p>
  </div>

  <div>
    <p><%= cart_detail.total %></p>
    <%= form_with url: cart_remove_path do |f| %>
      <%= f.hidden_field :id, :value => cart_detail.id %>
      <div class= "cart_delete">
        <%= f.submit "X" %>
      </div>
    <% end %>
  </div>
</div>
