<div class="my-cart__body">
  <div class="my-cart__body__up">
    <div class="my-cart__body__up-left">
      <ul class="my-cart__body__up-left__header">
        <li><%= t "cart.product" %></li>
        <li><%= t "cart.price" %></li>
        <li><%= t "cart.quantity" %></li>
        <li><%= t "cart.remain" %></li>
        <li><%= t "cart.total" %></li>
      </ul>
      <div class="my-cart__products">
        <%= render @cart_details %>
      </div>
      <div class="my-cart__row button">
        <%= link_to products_path do %>
          <%= t "cart.continue_shop" %>
        <% end %>
      </div>
    </div>

    <div class="my-cart__body__up-right">
      <h3><%= t "cart.subtotal" %></h3>
      <div class="my-cart__body__up-right__info">
        <div>
          <span class="info__title"><%= t "cart.subtotal" %></span>
          <span class="info__price"><%= public_send("#{I18n.locale}", @cart.total) %></span>
        </div>
      </div>
      <%= form_with(url: check_remain_and_redirect_path, method: :post) do |f| %>
        <%= f.submit t "cart.checkout" %>
      <% end %>
    </div>
  </div>
</div>
