<tr>
  <td><%= bill_counter + Settings.counter_index %></td>
  <td><%= bill.user_name %></td>
  <td><%= bill.address %></td>
  <td><%= bill.phone_number %></td>
  <td><%= discount_to_percentage(bill.voucher_discount) %></td>
  <td><%= bill.status %></td>
  <td><%= number_to_currency(bill.total, unit: Settings.money_unit_vnd, precision: Settings.digits_0, format: Settings.currency_format) %></td>
  <td><%= number_to_currency(bill.total_after_discount, unit: Settings.money_unit_vnd, precision: Settings.digits_0, format: Settings.currency_format) %></td>
  <td><%= format_expired_at(bill.expired_at) %></td>
  <td><%= l bill.created_at, format: :long %></td>
  <td><%= l bill.updated_at, format: :long %></td>
  <td>
    <%= link_to t("admin.view.show_action"), admin_bill_path(bill) %>
  </td>
</tr>
