<div class="search-filter">
  <%= form_tag admin_bills_path, method: :get, data: {controller: "bill"}, class: "search-filter-wrapper" do %>
    <div class="search-wrapper">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: t("admin.view.bills.search_for"), data: {action: "change->bill#submit"} %>
    </div>
    <div class="filter-wrapper">
      <h4 class="title"><%= t "admin.view.bills.status" %></h4>
      <% Bill.statuses.each do |key, value| %>
        <div class="form-check">
          <%= check_box_tag "statuses[]", value, params[:statuses].present? && params[:statuses].include?(value.to_s), class: "form-check-input", data: {action: "change->bill#submit"} %>
          <%= label_tag "status_#{value}", t("admin.view.statuses.#{key}"), class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
