<% provide :title, t("edit.title") %>
<%= render "layouts/header" %>
<div class="edit-page">
  <h1><%= t "edit.title" %></h1>
  <div class="nav-link">
    <div class="nav-link-text">
      <i class="fa-solid fa-house"></i>
      <i class="right fa-solid fa-chevron-right"></i>
      <%= link_to t("profile.personal_info"), "#", class: "nav-link--selected" %>
    </div>
  </div>
  <div class="body">
    <%= render "layouts/sidebar" %>
    <div class="formedit">
      <label for="" class="formedit__title"><%= t "profile.personal_info" %></label>
      <%= render "form" %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
