<% provide :title, t("order.title") %>
<%= render "layouts/header" %>
<div class="check-out">
  <%= form_with model: @bill, url: bills_path, class: "check-out__body", data: {turbo: false} do |form| %>
    <div class="check-out__body-left">
      <%= render "shared/error_messages", object: form.object %>
      <h2><%= t "order.title" %></h2>
      <div class="check-out__body-left__row">
        <div class="check-out__body-left__item">
          <div data-controller="address">
            <%= render partial: "bill_address", locals: { form: form, address: @bill.address } %>
          </div>
        </div>
      </div>
      <div class="check-out__body-left__row">
        <div class="check-out__body-left__item">
          <p><%= t "order.phone" %></p>
          <%= form.text_field :phone_number, placeholder: t("order.your_phone"), required: true %>
        </div>
      </div>
      <div class="line"></div>
      <h2><%= t "order.more_info" %></h2>
      <div class="check-out__body-left__row">
        <div class="check-out__body-left__item">
          <p><%= t "order.note" %></p>
          <%= form.text_area :note_content, cols: 30, rows: 10, placeholder: t("order.your_note") %>
        </div>
      </div>
    </div>
    <div class="check-out__body-right">
      <h3><%= t "order.name" %></h3>
      <div class="check-out__body-right__products">
        <%= render partial: "bills/bill_info", collection: @cart_details, as: :cart_detail %>
      </div>
      <div class="line"></div>
      <div class="check-out__body-right__info">
        <p class="check-out__body-right__info__title"><%= t "order.total" %></p>
        <%= form.hidden_field :total, value: @cart.total %>
        <p class="check-out__body-right__product__price"><%= public_send("#{I18n.locale}", @cart.total) %></p>
      </div>
      <div class="line"></div>
      <div class="check-out__body-right__info">
        <p class="check-out__body-right__info__title"><%= t "order.choose_voucher" %></p>
        <%= form.collection_select :voucher_id,
                                    voucher_select_options(@cart.total)[:collection], :last, :first,
                                    voucher_select_options(@cart.total).slice(:include_blank),
                                    { class: "form-select", data: { controller: "vouchers", action: "change->vouchers#applyVoucher"}} %>
      </div>
      <turbo-frame id="total-price">
        <%= render partial: "update_total", locals: { total: @cart.total, discount: nil } %>
      </turbo-frame>
      <%= form.submit t("order.buy"), class: "btn-buy" %>
    </div>
  <% end %>
</div>
<%= render "layouts/footer" %>
