<tr class="table-row">
  <td class="table-data"><%= category_counter + Settings.counter_index %></td>
  <td class="table-data">
    <% if category.image.persisted? %>
      <%= image_tag category.image, class: "table-data__image" %>
    <% end %>
  </td>
  <td class="table-data"><%= category.name %></td>
  <td class="table-data"><%= l category.created_at %></td>
  <td class="table-data"><%= l category.updated_at %></td>
  <td class="table-data">
    <%= link_to t("update"), edit_admin_category_path(category), class: "btn btn-warning" %>
    <%= link_to t("delete"), admin_category_path(category),
        method: :delete, data: { confirm: t("admin.view.confirm_delete") }, class: "btn btn-danger" %>
  </td>
</tr>
