<div class="my-cart__row">
  <div>
    <% if cart_detail.image.persisted? %>
      <%= image_tag cart_detail.image %>
    <% end %>
    <p class="row__name"><%= cart_detail.name %></p>
  </div>

  <div>
    <p class="row__price"><%= public_send("#{I18n.locale}", cart_detail.price) %></p>
  </div>

  <div>
    <p class="my-cart__row__quantity">
      <%= form_with url: cart_path, method: :patch do |f| %>
        <%= f.hidden_field :product_id, value: cart_detail.product.id %>
        <%= f.number_field :quantity, value: cart_detail.quantity.to_i,min: Settings.digit_0, max: cart_detail.remain_quantity, style: "width: 40%;" %>
        <div class= "cart_update">
          <%= f.submit t "cart.update" %>
        </div>
      <% end %>
    </p>
  </div>

  <div>
    <p class="my-cart__row__quantity"><%= cart_detail.remain_quantity %></p>
  </div>

  <div>
    <p><%= public_send("#{I18n.locale}", cart_detail.total) %></p>
    <%= form_with url: cart_path, method: :delete do |f| %>
      <%= f.hidden_field :cart_detail_id, value: cart_detail.id %>
      <div class= "cart_delete">
        <%= f.submit "X" %>
      </div>
    <% end %>
  </div>
</div>
