<% provide :title, @product.name %>
<%= render "layouts/header" %>
<div class="product-detail_body">
  <div class="addinfo">
    <div class="addinfo_img">
      <%= image_tag @product.image, class: "addinfo_img" %>
    </div>
    <div class="addinfo_info">
      <h1><%= @product.name %></h1>
      <% average_rating = average_of_rating(@comments) %>
      <% if average_rating.present? %>
        <% average_rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% (Settings.max_rating_star - average_rating).times do %>
          <span class="fa fa-star"></span>
        <% end %>
      <% end %>
      <p class="addinfo_info__starnote"><%= t("product.remain_quantity", remain_quantity: @product.remain_quantity) %></p>
      <p class="addinfo_info__starnote"><%= t("product.sales_count", sales_count: @product.sales_count) %></p>
      <p class="addinfo_info__starnote"><%= t("product.comment", comments: comment_users(@comments).size) %></p>
      <p class="addinfo_info__gia"><%= t("product.price", price: public_send("#{I18n.locale}", @product.price)) %></p>
      <p class="addinfo_info__info"><%= @product.description %></p>
      <div class="addinfo_buy">
        <% if logged_in? %>
          <%= form_with url: cart_index_path, class: "addinfo_buy__amount" do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.number_field :quantity, value: Settings.init_value_add_cart.to_i, min: Settings.init_min_add_cart, max: @product.remain_quantity %>
            <div class="addinfo_buy__addtocart">
              <%= f.submit t "cart.add_to_cart" %>
            </div>
          <% end %>
        <% end %>
        <div class="addinfo_buy__wishlist">
          <%= render "wishlists/add_wishlist" if logged_in? %>
        </div>
      </div>
      <div class="addinfo_info__tag">
          <p><%= t "category.title" %>:
            <span class="addinfo_info__tag--grey"><%= @product.category_name %></span>
          </p>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about_button">
      <%= link_to "#", class: "about_button__button", data: { toggle: "about_section" }, id: "about-description" do %>
        <%= t "description" %>
      <% end %>
      <%= link_to "#", class: "about_button__button", data: { toggle: "about_section" },id: "about-comment" do %>
        <%= t "comment" %>
      <% end %>
    </div>
    <div class="about_section" id="zero">
      <div class="description" id="description">
        <p class="addinfo_info__info"><%= @product.description %></p>
      </div>
      <div class="comments" id="comments">
        <%= render @comments %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
