<header>
  <div class="header__top">
    <div class="i18n">
      <%= link_to t("language.english"), locale: :en %>
      <hr>
      <%= link_to t("language.vietnamese"), locale: :vi %>
    </div>
    <% if logged_in? %>
      <li class="dropdown">
        <%= link_to "#", id: "account", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
          <%= t("static_pages.account") %><b class="caret"></b>
        <% end %>
        <ul id="dropdown-menu" class="dropdown-menu">
          <li><%= link_to t("static_pages.personal_info"), edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to t("profile.logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <div class="validation">
        <%= link_to t("sign_up.title"), new_user_registration_path, class: "validation__register" %>
        <hr>
        <%= link_to t("sessions.new.title"), new_user_session_path, class: "validation__login" %>
      </div>
    <% end %>
  </div>
  <div class="header__center">
    <%= link_to t("app_name"), root_path, class: "logo" %>
    <%= form_tag products_path, class: "search-box", method: :get do %>
      <%= text_field_tag :name_or_description, nil,
    class: "search-box__input",
    name: "product_list[name_or_description]",
    value: value_search(params[:product_list], :name_or_description),
    placeholder: t("name_description") %>
      <button class="search-box__btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    <% end %>
    <div class="wishlist-cart">
      <%= link_to wishlists_path do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
      <hr>
      <% if logged_in? %>
        <%= link_to cart_path(current_user), class: "cart-icon" do %>
          <i class="fa-solid fa-cart-shopping"></i>
          <% if @cart_details.length > 0 %>
            <p class="cart-icon-number"><%= @cart_details.length %></p>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-cart-shopping"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="navbar-new">
    <ul>
      <li>
        <%= link_to t("homepage.home"), root_path %>
      </li>
      <li>
        <%= link_to t("homepage.product"), products_path %>
      </li>
      <% if logged_in? && current_user.admin? %>
        <li>
          <%= link_to t("homepage.admin"), "admin/users" %>
        </li>
      <% end %>
    </ul>
    <div class="phone">
      <i class="fa-solid fa-phone-volume phone__icon"></i>
      <span class="phone__number"><%= Settings.phone_number %></span>
    </div>
  </div>
</header>
