<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "base", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "product", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "homepage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "wishlist", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "cart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bill", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" %>
    <%= javascript_importmap_tags %>
    <%= custom_bootstrap_flash.html_safe %>
    <meta name="locale" content="<%= I18n.locale %>">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
