<% provide :title, t("admin.voucher.index.title") %>
<h1><%= t "admin.voucher.index.title" %></h1>
<div class="voucher-table-wrapper">
  <%= link_to t("admin.voucher.index.addvoucher"), new_admin_voucher_path, class: "new-voucher-link btn btn-primary", role: "button" %>
  <table class="voucher-table">
    <thead>
      <tr>
        <th><%= t "admin.voucher.index.id" %></th>
        <th><%= t "admin.voucher.index.condition" %></th>
        <th><%= t "admin.voucher.index.discount" %></th>
        <th><%= t "admin.voucher.index.started_at" %></th>
        <th><%= t "admin.voucher.index.ended_at" %></th>
        <th><%= t "admin.voucher.index.created_at" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @vouchers %>
    </tbody>
  </table>
</div>
